# Data Structure: Overview of Tuples, Lists and Sets

- Through previous chapters, we have learned about some data classes in Python, whose each object represents a single piece of information. Now, we will have the chance to get exposure to data structures which are classes of objects that can contain many other data pieces within. 
- A data structure can be considered as a box containing other objects, even smaller boxes within.
- There are four types of data structures in Python:
    - Tuples
    - Lists
    - Sets
    - Dictionaries
- In this topic, we will get into the definitions and comparisons between the first three types of data structures before digging deeper into each of them in the next topic.

### `OUTLINE`:
- I, Comparisons between Tuples, Lists and Sets
- II, Create a data structure
- III, Indexable
- IV, Immutable

## I, Comparison between Tuples, Lists and Sets:


<table style = 'text-align: left; word-wrap:break-word;'>
    <tr>
        <th></th>
        <th>A Tuple</th>
        <th>A List</th>
        <th>A Set</th>
    </tr>        
    <tr>
        <th>Definition</th>
        <th>A sequence of characters enclosed by a pair of ()</th>
        <th>A sequence of characters enclosed by a pair of []</th>
        <th>A UNIQUE Sequence of characters enclosed by a pair of {}</th>
    </tr>    
    <tr>
        <th>Mutable or Not?</th>
        <th>Immutable</th>
        <th>Mutable</th>
        <th>Mutable</th>
    </tr>  
    <tr>
        <th>Methods to mutate</th>
        <th>None</th>
        <th>.append() <br> .extend() <br> del(list[]) <br> list[] = x</th>
        <th>.add() <br> .remove() </th>
    </tr>  
    <tr>
        <th>Indexable or not?</th>
        <th>Indexable</th>
        <th>Indexable</th>
        <th>Not indexable</th>
    </tr>  
    <tr>
        <th>Pros</th>
        <th>Used to store unchanged arrays of data <br>
        Memory efficient</th>
        <th>Flexible ammendment</th>
        <th>Filter out all duplicate values <br>
        Conduct logical operations</th>
    </tr>   
</table>

## II, Create a data structure:

### 1, Create a tuple:
- A tuple is defined by a sequence of characters enclosed by a pair of parentheses (). A tuple can contain objects of all classes, even itself.

In [ ]:
#For instance:
tup1 = (1, 'a', 2.0, (1,2,3))
print(type(tup1))
tup1

<p style = "color:cyan">Ex_Create a tuple named tup2 that contains: 13.5, 23, 'This is a beautiful day.' Then display it on the screen.

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
tup2 = (13.5, 23, 'This is a beautiful day.')
tup2
```
</details>

<p style = "color:cyan">Ex_Create a tuple named tup3 that contains: "abc", 135, 30.222, (343, 123,54). Then display it on the screen.

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
tup3 = ("abc", 135, 30.222, (343, 123,54))
tup3
```
</details>

### 2, Create a list:
- A list is defined by a sequence of characters enclosed by a pair of parentheses []. A list can contain objects of all classes, even itself.

In [ ]:
#For instance:
list1 = [tup1, 'a', 1, 1.0, True]
print(type(list1))
list1

<p style = "color:cyan">Ex_Create a list named list2 that contains: 13.5, 23, 'This is a beautiful day.' Then display it on the screen.

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
list2 = [13.5, 23, 'This is a beautiful day.']
list2
```
</details>

<p style = "color:cyan">Ex_Create a list named list3 that contains: list1, list2, tup1.' Check the type of the variable you've created and display the content of it on the screen.

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
list3 = [list1, list2, tup1]
print(type(list3))
list3
```
</details>

### 3, Create a set:
- A set is defined by a UNIQUE sequence of characters enclosed by a pair of parentheses {}. A set can contain objects of all classes, even itself. 
- Bear in mind that there is no duplicate in a set.

In [ ]:
#For instance:
set1 = {tup1, 'a', 123, False, 2.33}
print(type(set1))
set1

<p style = "color:cyan">Ex_Create a set named set2 that contains: 13.5, 23, 'This is a beautiful day.' Then display it on the screen.

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
set2 = { 13.5, 23, 'This is a beautiful day.'}
set2
```
</details>

<p style = "color:cyan">Ex_Create a set named set3 that contains: list1, list2, tup1.' Check the type of the variable you've created and  display the content of it on the screen.

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
set3 = {list1, list2, tup1}
print(type(set3))
set3```
</details>

## III, Indexable:
- Indexable here means whether it is possible to give each element within a data structure a number based on its position, to work with or not.

- `Tuples` and `lists` are indexable since we can index elements within an object of any of them, and call out them using the indexes. For instance:

In [ ]:
tup1

In [ ]:
#Call out elements wihtin using indexes:
print('the 0-indexed of tup1:', tup1[0])
print('the 1-indexed of tup1:', tup1[1])
print('the 2-indexed of tup1:', tup1[2])
print('the 3-indexed of tup1:', tup1[3])

In [ ]:
list1

In [ ]:
#Call out elements wihtin using indexes:
print('the 0-indexed of list1:', list1[0])
print('the 1-indexed of list1:', list1[1])
print('the 2-indexed of list1:', list1[2])
print('the 3-indexed of list1:', list1[3])
print('the 4-indexed of list1:', list1[4])

- However, it is impossible for us to do the same thing with a `set`. For instance:

In [ ]:
set1

In [ ]:
#Call out elements wihtin using indexes:
print('the 0-indexed of set1:', set1[0])
print('the 1-indexed of set1:', set1[1])
print('the 2-indexed of set1:', set1[2])
print('the 3-indexed of set1:', set1[3])
print('the 4-indexed of set1:', set1[4])

> You can see the type error pops up once you execute the code block.

There are `two ways of index`:
- Positive indexing: the first element is indexed as 0, the second element is indexed as 1, and so forth.
    - Briefly, the n-th element in the sequence is indexed as (n-1)th.
    - `We have been doing positive index since the start of the topic.`
- Negative indexing: the last element is indexed as -1, the previous element is indexed as -2, and so forth.

<p style = "color:cyan">Ex_Call out the last element and the second last element of the tup1.

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
print(tup1[-1])
print(tup1[-2])
```
</details>

To `slice` data from lists and tuples we can use this command:
`list[Start:(End+1):Step]`. For instance:

In [ ]:
listd = [1,2,3,5,1,5,12,35,123,54]
listd[0:7:2]

> We just displayed the range of elements indexed from 0 to 6 (= 7-1), taking one of every two consecutive elements.


Since a data structure can contain all classes, even an object of the same class. We can also call out the elements of a data structure inside another. For instance:

In [ ]:
tupe = (1,2,3,5, (123, (11,12)))
tupe[4][1][1]

> 4 is the index of (123,(11,12)) inside the tupe

> 1 is the index of (11,12) inside (123,(11,12))

> 1 is the index of 12 inside (11,12)

<p style = "color:cyan">Ex_Call out the numerical value of 123 within the tupe.

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
tupe[4][0]
```

> Since: 
    - 4 is the index of the tuple (123, (11,12).
    - 0 is the index of our target.
</details>

### IV, Immutable or Mutable:

 We all know an object is mutable when we can alter the value after creating it. However, how can we ensure that we modify the same object, not create a new one with the same identifier/name? By displaying the id of the object, using the `id()` function.

#### a, What is an id?
- id is a short form for identity. An identity of an object in Python is its life-time address in heap memory. Heap memory is where our Python stores literal values and variables, and it is attached to a Virtual Machine, not the device's memory.

- When it comes to `data that are not data structure`, different variables may have the same id if they have the same assigned values. For instance:

In [ ]:
a = 5
b = 5
print('id(a):', id(a))
print('id(b):', id(b))
print('id(5):', id(5))
id(a)==id(b)== id(5)

- When it comes to `data structures`, variables assigned the same set of characters do not have the same id. For instance:

In [ ]:
list_a = [1,3,5,5,2]
list_b = [1,3,5,5,2]
print('id(list_a)', id(list_a))
print('id(list_b)', id(list_b))
print('id([[1,3,5,5,2])', id([1,3,5,5,2]))
id(list_a) == id(list_b)== id([1,3,5,5,2])

Even if the two variables have the same name and are assigned the same data structure, they still have different ids. For instance:

In [ ]:
setb = {1,2,3}
print('The id of the first setb:', id(setb))
setb = {1,2,3}
print('The id of the second setb:', id(setb))

### b, Making modifications to a data structure by using methods associated with its class:

- We modify a data structure using methods associated with its class.
- When you `concatenate` one list with another to form a new list with the same name as any of the other two, it `creates a new variable`.
    - In other words, despite the identical results, there is a difference between:
```python
lista = lista + [1,2,3]
#and:
lista.extend([1,2,3])
```

Let's examine our statement.

In [ ]:
lista = [3,4,5]
print('The id of lista before applying the extend method:', id(lista))
lista.append([1,2,3])
print('The id of lista after applying the extend method:', id(lista))

In [ ]:
lista = [3,4,5]
print('The id of lista before concatenation:', id(lista))
lista = lista + [1,2,3]
print('The id of lista after concatenation:', id(lista))

## `It is possible for us to mutate lists and sets, not tuples.`