# Data Structure: Tuples

## `OUTLINE`:
- I, Definition:
- II, Index and slice: 
    - len()
- III, Immutable:
- IV, Concatenate tuples:
- V, Sort a tuple into a sorted list:
- VI, Appendix:
    - Create nested tuples
    - Call out elements of the same index within nested tuples
    - Assign values within a tuple to variables
    - Count the frequency of a value within a tuple

## I, Definition:
- Return to the topic `3d. Overview of Tuples, Lists and Sets` to revise.

## II, Index and slice:
- Return to the section `III, Indexable` of the topic `3d. Overview of Tuples, Lists and Sets` for more information.
- To make our work easier, we can use the function `len()` to find the number of objects that a tuple consist of.

In [ ]:
#For Instance:
tup1 = (1,'235,2323', [435432,444411],4543254325)
len(tup1)

## III, Immutable:
- Briefly, tuples are immutable. Once your create a tuple, there is no way to modify its contents.
- Return to the section `IV, Immutable` of the topic `3d. Overview of Tuples, Lists and Sets` for more information.

## IV, Concatenate tuples:
- We can combine all elements within several tuples into one tuple using the symbol `+`.
- For instance:

In [ ]:
tup2 = (1235,12313,11,55,[454,342345,{1345}])
tup3 = (35.123, 3524, True, False)
tup4 = tup1 + tup2 + tup3
tup4

<p style = "color:cyan"> Ex_Create a tuple named tup5 that consists of all elements of tup1, tup2, tup3, tup4. </p>

In [ ]:
#Type here:

<details><summary>Click here for solution after you've done the task:  
</summary>
    
```python
#Type here:
tup5 = tup1 + tup2 + tup3 + tup4 
tup5
```    
</details>

## V, Sort a tuple into a sorted list:

To sort a tuple of elements with no order, we use the `sorted()` function with the name of the tuple within the parentheses. With the `sorted()` function, we can arrange our tuple in both ascending and descending orders.

- To arrange a tuple in an ascending order, we only need to pass the name of the tuple inside the parentheses. For insance: `sorted(tup1)`

In [ ]:
#For instance:
tup9 = (123,5432,3534213,5555,67765)
tup10 = sorted(tup9)
print(tup10)
print('The type of tup10 is:', type(tup10))

- To arrange a tuple in a descending order, we need to pass the name of the tuple and set the argument `reverse = True` inide the parentheses.

In [ ]:
#For instance:
tup11 = sorted(tup9, reverse = True)
tup11

In [ ]:
#For instance:
tup12 = ('adb', 'asdg', 'ad')
tup13 = sorted(tup12)
tup13

In [ ]:
#For instance:
tup14 = tup12 + tup9
tup15 = sorted(tup14, reverse = True)
tup15

>After executing the previous code block, you will 100% encounter a TypeError.

- `sorted()` only supports arrangement in a tuple containning all elements of the same type, it cannot do cross-order.
- The ascending precendence of `sorted()` function is:
    - The alphabet order.
    - The number of characters within each string element. The shortest string will be ordered first then comes strings with more charactesr within.

<p style = "color:cyan">Ex_Sort the following tuple in alphabet order

</p>

tup = ('ab', 'ac', 'bc', 'ccb', 'bbc', 'bcc')

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
tup = ('ab', 'ac', 'bc', 'ccb', 'bbc', 'bcc')
new = sorted(tup)
new
```
</details>

## VI, Appendix

### 1, Create nested tuples:

In [ ]:
nsted = (1,2), (2,35,22,3), (454,33)
nsted

<p style = "color:cyan">Ex_Create a nested tuple as below:
</p>

nest = ([12,354,454,3], (323,332,545,2), (324,(34,33)))

In [ ]:
#Type here:

<details><summary>Click here for solution after you've done the task:  
</summary>
    
```python
#Type here:
nest = (
    [12, 345, 545, 4],
    (323, 332, 545, 2),
    (324, (34, 33))
)

nest
```    
</details>

### 2, Call out elmts of the same index across nested tuples:

In [ ]:
[x[0] for x in nsted]

<p style = "color:cyan">Ex _ Call out the last element within each data structure inside the tuple named nest
</p>

In [ ]:
#Type here:

<details><summary>Click here for solution after you've done the task:  
</summary>
    
```python
#Type here:
[y[-1] for y in nest]
```    
</details>

### 3, Assign values of a tuple to variables:

In [ ]:
a, b, c = nsted
print(a)
print(b)
print(c)

<p style = "color:cyan">Ex _ Assign the values data structures within the tuple named nest into variables d, e, and f respectively. Then print the variables onto the screen.</p>

In [ ]:
#Type here:

<details><summary>Click here for solution after you've done the task:  
</summary>
    
```python
#Type here: 
d, e, f = nest
print(d)
print(e)
print(f)
```    
</details>

### 4, Count the values frequency:

In [ ]:
tup = (1,1,1,1,1,1,3,3,3,5,5,3,5,5,5)

In [ ]:
tup.count(1)

<p style = "color:cyan">Ex _ How many numbers 3 are there in the tuple named tup?</p>

In [ ]:
#Type here:

<details><summary>Click here for solution after you've done the task:  
</summary>
    
```python
#Type here:
tup.count(3)
```    
</details>