# Data Structure: Sets

## `OUTLINE`:
- I, Definition:
- II, Converse a list or a tuple into a set:
- III, Unindexable:
- IV, Mutate sets:
- V, Logical operators and corresponding set's methods:
- VI, Something to notice:

## I, Definition:
- A set is a UNIQUE sequence of characters enclosed by a pair of `{}`. There are absolutely no duplicate values in a set. 
- It is IMPOSSIBLE to include a data structure within a set.
- Suppose you involve duplicates whilst creating a set. Python will automatically filter out all of them and only keep unique values. For instance:

In [ ]:
#For instance:
set1 = {1,1,1,1,1,2,54,'a'}
set1

In [ ]:
#For instance:
setes = {True, False, 'turtle', 'hat', {123, 354, 22}}

> The warning message pops up because it is IMPOSSIBLE to include a data struture within a set.

- Return to topic `3a. Overviews of Tuples, Lists and Sets` for more information.

<p style = "color:cyan">Ex_Create a set named setex that consists of the following elements.

</p>
True, False, 'turtle', 'hat', 12, 54, 73

In [ ]:
#Type here:
setex = {True, False, 'turtle', 'hat', 12, 54, 73}
setex

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
setex = {True, False, 'turtle', 'hat', 12, 54, 73}
setex
```
</details>

## II, Converse a list into a tuple or set:
- We can convert a list or a tuple into a set to eliminate all duplicate values using the function `set()` with the name of the chosen data structure within the parentheses.

In [ ]:
#For instance:
list1 = [1,25,133,55]
set1 = set(list1)
print('set1:',set1)
print('type(set1):',type(set1))

In [ ]:
#For instance:
tup2 = [3454,'11', True]
set2 = set(tup2)
print('set2:', set2)
print('type(set2):', type(set2))

<p style = "color:cyan">Ex_Remove all the duplicate elements within the data structure. <br>
</p>
    tupp = (1,2,33,2,2,2,2,3,True, False)

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
tupp = (1,2,33,2,2,2,2,3,True, False)
tupp = set(tupp)
tupp
```
</details>

### III, Unindexable:
- It is impossible for us to index elements within a set. 
- Return to topic `3a. Overview of Lists, Tuples and Sets` for more details.

## IV, Mutate sets:
There are two ways for us to mutate a set:
- `set.add()`: to add a new element to the set.
- `set.remove()`: to remove one element from the set.

### a, `set.add()`: 
- We pass the value inside the parentheses of the method to add new elements into the set. For instance:

In [ ]:
set1 = {1,1,1,1,1,2,54,'a'}
print('set1:', set1)
id1 = id(set1)
print('The id of set1 before the mutation:', id1)
set1.add('b')
id2 = id(set1)
print('The id of set1 after the mutation:', id2)
print('set1 after the mutation:', set1)
print('The id of the set remains the same after the mutation:', id1 == id2)

> As the id of the set before and after the mutation remains the same, we have managed to mutate the set without creating a new identical variable.

<p style = "color:cyan">Ex_Add 5 more 'a' into set1
</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
- There is absolutely no way to do it, since a set contains no duplicates.
</details>

<p style = "color:cyan">Ex_Add the following elements into set1 <br>
    13<br>
    'Ch'<br>
    'Name'<br>

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
set1.add(13)
set1.add('Ch')
set1.add('Name')
set1
```
</details>

### b, `set.remove()`:
- We can remove one element from the set by passing the value we want to get rid of into the parentheses. For instance:

In [ ]:
set1 = {1,1,1,1,1,2,54,'a'}
print('set1:', set1)
id1 = id(set1)
print('The id of set1 before the mutation:', id1)
set1.remove('a')
id2 = id(set1)
print('The id of set1 after the mutation:', id2)
print('set1 after the mutation:', set1)
print('The id of the set1 remains the same after the mutation:', id1 == id2)

> As the id of the set before and after the mutation remains the same, we have managed to mutate the set without creating a new identical variable.

<p style = "color:cyan">Ex_Create the set as below: <br>
set1 = {1, 13, 2, 54, 'Ch', 'Name', 'a', 'b'}<br>
Remove the 1st and the 3rd elements from it
</p>

In [ ]:
#Type here:
set1 = {1, 13, 2, 54, 'Ch', 'Name', 'a', 'b'}
set1.remove(1)
set1.remove(2)
set1

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
#create the set:
set1 = {1, 13, 2, 54, 'Ch', 'Name', 'a', 'b'}
#remove items:
set1.remove(1)
set1.remove(2)
set1
```
</details>

> Remember that the set is indexable, the only way to call out an element within is to use the value it represents.

## V, Logical operators and corresponding set's methods:
- It is possible for us to use logical operators to work with sets.
- Just in case, let me remind you. There are three types of logical operators in Python.

Logical assignments are used to combine conditional statements:
<table style='text-align:left;'>
    <tr>
        <th>Logical assignment</th>
        <th>Shortform</th>
        <th>Meaning</th>
    </tr>
    <tr>
        <th>and</th>
        <th>&</th>        
        <th>Only returns True if all conditions are true </th>
    </tr>
    <tr>
        <th>or</th>
        <th>|</th>        
        <th>Returns True even if only one condition is True </th>
    </tr>
    <tr>
        <th>not</th>
        <th>not</th>
        <th>Reverse the results of the previous operators</th>
    </tr>
    
</table>

We only take the `and &` and `or |` logical operators to create sets from sets.

In [ ]:
#Our initial sets:
seta = {13,14,16}
setb = {'a','b', 'c'}
setc = {'a','b', 14, 15}

### a, The `or | ` logical operator:
To create a set that contains all elements within seta and setb, we use the logical operator or `|`. For instance:

In [ ]:
setab = seta | setb
setab

The set method that has the corresponding function to the `|` operator is `set.union()`. For instance:

In [ ]:
setab_ = seta.union(setb)
setab_

In [ ]:
#or:
setab__ = setb.union(seta)
setab__

### b, The `and &` logical operator:
- We use the `and &` logical operator to create a set that contains elements in common between the chosen sets.

In [ ]:
#For instance:
setac = seta & setc
setac

> seta and setc have only one element in common, which is 14.

In [ ]:
#For instance:
setbc = setb & setc
setbc

> setb and setc have two elements in common, which are 'a' and 'b'.

- The set method that has the corresponding function with the keyword is: `seta.intersection(setb)`.

In [ ]:
#for instance:
setc.intersection(setb)

In [ ]:
seta.intersection(setb)

>seta and and setb have no elements in common.

### c, The `not` logical operator:

- We cannot use the `not` logical operator directly with a set. However, we have a set method with a similar function, `.differnece()`.
- Suppose we want to filter out elements that belong to setc, but do not lie in seta. is: `seta.difference(setc)`

In [ ]:
#our original set:
print('seta:', seta)
print('setc:', setc)

In [ ]:
setc_not_a = setc.difference(seta)
setc_not_a

>The elements 15, 'a', 'b' belong to setc but do not lie in seta.

In [ ]:
seta_not_c = seta.difference(setc)
seta_not_c

> The elements 13 and 16 lies in seta but does not belong to setc.

<p style = "color:cyan">Ex_Find all elements that belong to setab, but not in seta</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
setab_nota = setab.difference(seta)
setab_nota
```
</details>

### d, `setc.issubset(seta)`:
- To check whether one set is the subset of another set or not, we use the method `.issubset()`. 
- Suppose we want to check whether setc is a subset of set a or not.

In [ ]:
#For instance:
print('seta:', seta)
print('setc:', setc)
setc.issubset(seta)

In [ ]:
#For instance:
print('seta_not_c:', seta_not_c)
print('seta:', seta)
seta_not_c.issubset(seta)

<p style = "color:cyan">Create 3 sets as below: <br>
seta = {1,2,3,True, False} <br>
setb = {23,33,'b', 'm'} <br>
setc = {False, 33}

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
seta = {1,2,3,True, False}
setb = {23,33,'b', 'm'}
setc = {False, 33}
```
</details>

<p style = "color:cyan">Create a set that is named setd, and contains all elements wihtin seta and setb
</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
setd = seta.union(setb)
setd

#or using logical operators:
setd = seta | setb
setd
```
</details>

<p style = "color:cyan">Ex_Create sete that contains elements belong to both setc and setd.

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
sete = setc.intersection(setd)
sete

#or using logical operators:
sete = setc & setd
sete
```
</details>

<p style = "color:cyan">Ex_Check whether setc is a subset of setd.

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
setc.issubset(setd)
```
</details>

<p style = "color:cyan">Check wheter setc is the same as setd.

</p>

In [ ]:
#Type here:

<details><summary > Click here for the solution after you've done the task:
</summary>
    
```python
#Type here:
setc == setd
```
</details>