# Working with Pandas
---- 
## OUTLINE:
- What is pandas?
- Create a pandas dataframe:
    - From a numpy array
    - From a dictionary
- Load data from file_paht or link: 
- Extract data from a df:
    - Extract columns
    - Extract specified rows and columns, using:
        - df.loc[]
        - df.iloc[]
- Modify a dataframe:
    - Rename the header
    - Drop the columns or rows
    - Rename the columns
- Get the information of a data:
    - Data types within df

## 1. What is pandas?

- pandas is one of the most used Python packages to store and represent data.
- A dataframe takes the form of a table with indexed rows. A column of any particular dataframe can either take the form of a dataframe or a pandas series.
- For more information upon pandas, access this [link](https://pandas.pydata.org/pandas-docs/stable/index.html)

In [ ]:
import pandas as pd

## 2. Create a pandas dataframe

In [ ]:
import numpy as np

### a. From a numpy array:

In [ ]:
# Create a numpy array:
a = np.array([
    ['Student1',8,3,6,2], #row1
    ['Student2',3,5,2,2], #row2
    ['Student3',7,8,2,8] #row3
])

#create a dataframe from the newly created array:
df = pd.DataFrame(a, #np_array
             columns = ['Name', 'Literature', 'Geography', 'Physics', 'Music'] #name of the column
            )    

print(type(df))
df

- From an 1dNumpy array, we can create a pandas series.

In [ ]:
# pd Series:
series = pd.Series(
    np.array([1,35,2,33,2])
            )
print(type(series))
series

### b.From a dictionary:

In [ ]:
#create a dictionary:
dict1 = {
    'Product': #the name of the 1st column
    ['Soap', 'Sanitizer', 'Tissues'], #The values of the 1st column
    'Qty': #the name of the 2nd column
    [12,53,23], #the values of the 2nd column
}

#create the table:
df2 = pd.DataFrame(dict1)
df2

## 3. Load data from file_path or link:

- Click this [link](https://pandas.pydata.org/docs/reference/io.html) for more details
- The value passed into the parentheses is either:
    - Link of the data
    - directory of the file in the operating system
<table style='text-align:left;'>
    <tr>
        <th>File format</th>
        <th>Functions</th>
    </tr>
    <tr>
        <th>csv</th>
        <th>pd.read_csv()</th>
    </tr>
    <tr>
        <th>json</th>
        <th>pd.read_json()</th>
    </tr>
    <tr>
        <th>xml</th>
        <th>pd.read_xml()</th>
    </tr>
    <tr>
        <th>Ms Excel</th>
        <th>pd.read_excel()</th>
    </tr>
    <tr>
        <th>sql</th>
        <th>pd.read_sql()</th>
    </tr>
    

</table>

- In this instance, we will work with the Rail transport safety data set published by the EC. Click this [link](https://ec.europa.eu/eurostat/databrowser/view/TRAN_SF_RAILAC__custom_7201558/default/table?lang=en) to access more information about the dataset.

In [ ]:
file_link = 'https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/TRAN_SF_RAILAC/A.NR.TOTAL.EU27_2020+BE+BG+CZ+DK+DE+EE+IE+EL+ES+FR+HR+IT+LV+LT+LU+HU+NL+AT+PL+PT+RO+SI+SK+FI+SE+CHUNNEL+NO+CH+UK+ME+MK+TR/?format=SDMX-CSV&returnData=ALL&startPeriod=2012&endPeriod=2021'
dfec = pd.read_csv(file_link)
dfec.head()

## 4. Extract data from a dataframe

### a. Extract columns:

- Extract single column:
    - `df[['col_name]]` to get a new data-frame
    - `df['col_name']` to get a new series

In [ ]:
#for instance:
df

In [ ]:
#extract the Geography column as a series:
series2 = df['Geography']
series2

In [ ]:
#extract the Name column as a dataframe:
df3 = df[['Name']]
df3

- Extract multiple columns at the same time;
```python
df[['col1', 'col2', ...]]
```

In [ ]:
#extract the Name and the Literature columns into a new df:
df4 = df[['Name', 'Literature']]
df4

### b. Extract values from specified rows and columns:
- using `df.loc[]`
- using `df.iloc[]`

In [ ]:
df

- Using `df.loc[]`, we pass the indexes of the selected rows and names of the selected columns into the parentheses:
```python
df.loc[Start_row_index : End_row_index, Start_col_name : End_call_name]

#to extract values from specified columns and all rows:
df.loc[ : , columns_range]

#to extract values from specified rows and all columns:
df.loc[row_range, : ]
```

In [ ]:
df

In [ ]:
#to exract the values from the Name column to the Geography column, on the 1st and 2nd row.
df.loc[0:1,'Name':'Geography']

In [ ]:
#Extract all scores of student 2 and 3:
df.loc[1:2, :]

- Using `df.iloc()`, we pass the index of the specified rows and columns into the parentheses:
```python
df.iloc( Start_row_index : End_row_index + 1, Start_column_index : End_column_index + 1)

#to extract values from specified columns and all rows:
df.iloc( : , columns_range)

#to extract values from specified rows and all columns:
df.iloc(row_range, : )
```

In [ ]:
#Extract all scores and the the name of student 2 and 3:
df.iloc[1:3, :]

In [ ]:
#Extract the name and the Literature and Geography scores of student 1 and 2:
df.iloc[0:2, 0:3]

## 5. Modify a dataframe:

### a. Add the header to the df

In [ ]:
dfec.header = 'Rail transport safety'
print('The header of the dataframe is',dfec.header)

### b. Drop the columns or rows:
- Access this [link](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) for more details
```python
df.drop(labels, 
        axis = 1, #for columns and 0 for rows
        columns = [], #list of col.s to drop
        inplace = True #if false then it will return a copy
       )
```

In [ ]:
dfec.drop(axis = 1, 
          columns = ['DATAFLOW', 'LAST UPDATE', 'accident'], #cols to drop
          inplace = True)
dfec

### c. Change the name of the column:
```python
df.columns = ['col1', 'col2',...]
```

In [ ]:
dfec.columns = ['Freq_code', 'unit', 'Geo_code', 'Year', 'Value', 'Obs_flag']
dfec

## 6. Get the information of the df:

In [ ]:
#get the dtypes of the internal data:
dfec.dtypes

In [ ]:
#or:
dfec.info()